In [14]:
import pandas as pd
import numpy as np

titanic_survivors = pd.read_csv ('/content/titanic survivors.csv')

def titanic_survival_analysis():

   
    # Created a column to find number of family members
    titanic_survivors['family_members']=titanic_survivors['SibSp'] + titanic_survivors['Parch']
   
    # Check if a passanger had any family member
    conditions = [
    (titanic_survivors['family_members'] == 0),
        (titanic_survivors['family_members'] >0)
    ]
    values = ['alone', 'family']
    titanic_survivors['company'] = np.select(conditions, values)
   
    # Split the data into survivors and deceased
    filter_survived = titanic_survivors.Survived == 1
    survived = titanic_survivors[filter_survived]
    filter_deacesed = titanic_survivors.Survived == 0
    deacesed = titanic_survivors[filter_deacesed]
   
    #gender analysis
    df = titanic_survivors.groupby(['Sex'])['Ticket'].count().reset_index(name = 'number_of_passangers')
    survived_gender = survived.groupby(['Sex'])['Ticket'].count().reset_index(name = 'number_of_survived_passangers')
    final_df = survived_gender.merge(df, how='left' , on ='Sex')
    final_df['survival_rate'] = np.round(final_df['number_of_survived_passangers']/final_df['number_of_passangers']*100,2)
    final_df = final_df.rename(columns = {'Sex':'metric'}, inplace = False)
   
    #age analysis
    survived_mean_age = survived['Age'].mean()
    deceased_mean_age = deacesed['Age'].mean()
    age = {'survived_mean_age':survived_mean_age,'deceased_mean_age': deceased_mean_age}
   
   
    #passanger class analysis
    passanger_df = titanic_survivors.groupby(['Pclass'])['Ticket'].count().reset_index(name = 'number_of_passangers')
    passanger_class_survived = survived.groupby(['Pclass'])['Ticket'].count().reset_index(name = 'number_of_survived_passangers')
    new_df = passanger_class_survived.merge(passanger_df, how='left' , on ='Pclass')
    new_df['survival_rate'] = np.round(new_df['number_of_survived_passangers']/new_df['number_of_passangers']*100,2)
    conditions = [
    (new_df['Pclass'] == 1),
        (new_df['Pclass'] ==2),
        (new_df['Pclass'] ==3)  
    ]
    values = ['pclass_1', 'pclass_2','pclass_3']
    new_df['metric'] = np.select(conditions, values)
    new_df = new_df[['metric','number_of_survived_passangers','number_of_passangers','survival_rate']]
   
    #family analysis
    family_df = titanic_survivors.groupby(['company'])['Ticket'].count().reset_index(name = 'number_of_passangers')
    family_survived = survived.groupby(['company'])['Ticket'].count().reset_index(name = 'number_of_survived_passangers')
    family_new_df = family_df.merge(family_survived, how='left' , on = 'company')
    family_new_df['survival_rate']= np.round(family_new_df['number_of_survived_passangers']/family_new_df['number_of_passangers']*100,2)
    family_new_df = family_new_df.rename(columns = {'company':'metric'}, inplace = False)
   
  

    # concat the dataframes for the various metrics
    work_df = pd.concat([final_df, new_df,family_new_df], ignore_index=True)
   
   
    return work_df

In [15]:
titanic_survival_analysis()

     metric  number_of_survived_passangers  number_of_passangers  survival_rate
0    female                            233                   314          74.20
1      male                            109                   577          18.89
2  pclass_1                            136                   216          62.96
3  pclass_2                             87                   184          47.28
4  pclass_3                            119                   491          24.24
5     alone                            163                   537          30.35
6    family                            179                   354          50.56

In [16]:
# Embarkation Point Analysis
embarked_df =titanic_survivors ['Embarked'].describe()
print (embarked_df)

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

**CONCLUSIONS**

Female passengers had a higher survival rate than male passengers.

Passengers in first class had a higher rate of survival while the 3rd class had a lower rate of survival.

Those with their families had a high rate of survival.

Passengers who boarded the ship at Southampton survived more than the others.